@page
@model TicketTracingSystemApp.Pages.Tickets.CreateTicketFormModel
@{
}

<div style="margin: auto 0; width: 100%;">
    <form method="post">

        Subject:
        <input asp-for="TicketInput.Subject" />
        <span asp-validation-for="TicketInput.Subject" />
        <br /> <br />
        Description:
        <input asp-for="TicketInput.Description"/>
        <span asp-validation-for="TicketInput.Description" />
        <br /><br />
        <select asp-for="SelectedList" asp-items="Model.Options">
            <option>Lütfen bir şirket seçiniz</option>
        </select>
        <br /><br />
        <input type="submit" name="Save" value="Save" asp-page-handler="Save"/>
    </form>
</div>
